.background-red {
  background: red;
}

.background-green {
  background: green;
}

.background-blue {
  background: blue;
}

.RED {
  background: red;
}
.ORANGE {
  background: orange;
}

.GREEN {
  background: greenyellow;
}