<h1>Flow Task Manager</h1>

<app-create-edit-task [model]="taskModel"></app-create-edit-task>

<form>
  <div>
    <h1>Sign Up</h1>
  </div>
  <div>
    <label>E-mail </label>
    <input type="text" name="email" id="email" [(ngModel)]="signUpModel.email" (change)="validateEmail($event)">
    <p *ngIf="emailInvalid" style="color: red">Write in a valid email format! (something@something.com)</p>
  </div>
  <div>
    <label>Fullname </label>
    <input type="text" name="fullname" id="fullname" [(ngModel)]="signUpModel.fullname" (blur)="validateFullName($event)">
    <p *ngIf="fullnameInvalid" style="color: red">Full name must Start with uppercase!</p>
  </div>
  <div>
    <label>Password </label>
    <input type="text" name="password" id="password" [(ngModel)]="signUpModel.password">
    <p></p>
  </div>
</form>
<div>
<button (click)="signUp()" type="submit">Sign Up</button>
</div>