<form>
  <div class="form-group">
    <label for="">Title</label>
    <input class="form-control" [disabled]="appModel.checked" type="text" name="title" id="title" [(ngModel)]="appModel.title">
  <!--  <p>{{appModel.title}}</p> -->
    <label for="">Checked</label>
    <input class="form-control" type="checkbox" name="checked" id="checked" [(ngModel)]="appModel.checked">
  <!--  <p>{{appModel.checked}}</p> -->
    <label [ngStyle]="{background: changeCOlor(appModel.category)}" for="">Category</label>
    <select class="form-control" name="categories" id="categories" [(ngModel)]="appModel.category">
      <option value="Kaja">Kaja</option>
      <option value="Pia">Pia</option>
      <option value="Nők">Nők</option>
    </select>
  <!--  <p>{{appModel.category}}</p> -->
    <label for="">Text</label>
    <input class="form-control" type="text" name="text" id="text" [(ngModel)]="appModel.text">
  <!--  <p>{{appModel.text}}</p> -->
    <button (click)="showAppModelValue()">Save</button>
    </div>   
</form>
